<div class="container-fluid">
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">  
    <a class="navbar-brand" routerLink="/cWeather">{{title}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class ="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" *ngFor = "let route of routes" [routerLink]="route.url" routerLinkActive="active">{{route.linkName}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/forecast" routerLinkActive="active">5 Days</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">  
        <a class="nav-link" *ngIf="!_authService.loggedIn()" routerLink="login" routerLinkActive="active">Login</a>
        <a class="nav-link" *ngIf="!_authService.loggedIn()" routerLink="register" routerLinkActive="active">Register</a>
        <a class="nav-link" *ngIf="_authService.loggedIn()" style="cursor:pointer">Logout</a>
      </ul>
    </div>
  </nav>
  <div>
    <router-outlet></router-outlet>
  </div>
  <div class="page-footer bg-dark p-3">
    <div class="row">
      <div class="col-md-6 d-flex justify-content-center">
        <header><a routerLink="/cWeather" routerLinkActive="active">cWeather</a></header>
        <ul>
          <li><a routerLink="#">About</a></li>
          <li><a routerLink="#">Contact</a></li>
        </ul>
      </div>
      <div class="col-md-6 text-center text-white"> 
        <header>Let us be social</header>
        <a routerLink="#" routerLinkActive="active" class="btn-sm">
          <i class="fab fa-facebook"></i>
        </a>
        <a routerLink="#" routerLinkActive="active" class="btn-sm">
          <i class="fab fa-twitter"></i>
        </a>
        <a routerLink="#" routerLinkActive="active" class="btn-sm">
          <i class="fab fa-linkedin"></i>
        </a>
      </div>
    </div>
    <div class="footer-copyright text-center">
        @ 2018 	Copyright: <a routerLink="/cWeather" routerLinkActive="active">cWeather</a>
    </div>
  </div> 
</div>