<div class="bg-light py-2">
  <div class="text-center">
    <h1>cWeather</h1>
    <p>..of your city</p>
  </div>
  <div class="container">
    <h3>Toronto</h3>
    {{torontoWeatherData.dt | date}}<br> 
    Temp: {{torontoWeatherData.main.temp}}
    max: {{torontoWeatherData.main.temp_max}}, min: {{torontoWeatherData.main.temp_min}}
  </div>
</div>
<div class="container py-2">
  <div class="row pb-3">
    <div class="col-md-6">
      <div class="title">
        <h6>Check Weather</h6>
      </div>
      <div class="container">
        <form>
          <div class="form-group">
            <div class="input-group">
              <input  type="text" name="location" placeholder="Enter a City name" [(ngModel)]="location" required>
              <div class="input-group-btn">
                <button class="btn btn-success" type="submit" (click)=onSubmit()>Show</button>
              </div>  
            </div>  
          </div>  
        </form>
      </div>
      <div [hidden]="!submitted">
        <div class="card">
          <div class="card-header">
            <h2>{{weatherData.name}}</h2>
          </div>  
          <div class="card-body">
            {{weatherData.dt | date}}<br>
            Temp: {{weatherData.main.temp}}
            max: {{weatherData.main.temp_max}}, min: {{weatherData.main.temp_min}}<br>
            Sunrise: {{weatherData.sys.sunrise}}, Sunset: {{weatherData.sys.sunset}}
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <agm-map *ngIf="!citySubmitted" [latitude] = "lat" [longitude] = "lng" [zoom]="12"></agm-map>
      <agm-map *ngIf="citySubmitted" [latitude] = this.weatherData.coord.lat [longitude] = this.weatherData.coord.lon [zoom]="12"></agm-map>
    </div>
  </div>  
</div>